<div class="col-md-3">
  <div class="card text-center <%= className %>" data-<%= data_attr_name %>="<%= data_attr_val %>">
    <img src="<%= displayIcon %>" alt="<%= displayName %>" class="card-img-top" />
    <div class="card-body text-center">
      <h5 class="card-title">
        <%= displayName %>
      </h5>
    </div>
  </div>
</div>