<div class="col-md-4">
  <div class="card text-center large-category-card">
    <img class="card-img-top" src="<%= image.src %>" alt="<%= image.alt %>">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <p class="card-text"><%= description %></p>
      <a href="<%= href %>" class="btn btn-primary"><%= buttonText %></a>
    </div>
  </div>
</div>