<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs') %>
      <title>Weapons List</title>
  </head>

  <body>
    <div class="bg-image"></div>
    <div class="container">
      <h1 class="text-center gallery-title">
        <%= weapon_name %> Skins
      </h1>
      <div class="row">
        <% skins.forEach(skin=> { %>
          <div class="col-md-4 mb-4">
            <div class="skin-card card">
              <img src="<%= skin.displayIcon %>" alt="<%= skin.displayName %>" class="card-img-top" />
              <div class="card-body text-center">
                <h5 class="card-title">
                  <%= skin.displayName %>
                </h5>
                <button type="button" class="btn btn-primary view-variants-btn" data-skin-id="<%= skin.uuid %>"
                  data-toggle="modal" data-target="#variantsModal">
                  View Variants
                </button>
              </div>
            </div>
          </div>
          <% }); %>
      </div>

      <%- include('../partials/pagination.ejs', {
        current_page: currentPage,
        total_pages: totalPages,
        page_url: "/skins?weapon_name=" + weapon_name,
        aria_label: 'Weapons Pagination'
      }) %>
    </div>

    <div class="modal fade" id="variantsModal" tabindex="-1" aria-labelledby="variantsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="variantsModalLabel">Skin Variants</h5>
            <button type="button" class="close-modal-button" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>