<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head.ejs') %>
      <title>Skins List</title>
  </head>

  <body>
    <div class="bg-image"></div>
    <div class="container">
      <h1 class="text-center gallery-title"><%= title %> List</h1>
      <div class="row">
        <% skins.forEach(skin => { %>
          <%- include('../partials/cards/skin.ejs', {
            skin: skin,
            button_text: 'View Variants'
          }) %>
        <% }); %>
      </div>

      <%- include('../partials/pagination.ejs', {
        current_page: currentPage,
        total_pages: totalPages,
        page_url: `/skins?${query_name.length > 0 ? `${query_name}=${name}` : ''}`,
        aria_label: `${title} Pagination`
      }) %>
    </div>

    <%- include('../partials/variants_modal.ejs') %>


    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>